@tailwind base;
@tailwind components;
@tailwind utilities;

.h-100svh {
  height: 100vh; /* fallback */
  height: 100svh;
}

.h-hero-minus-header {
  height: calc(100vh - 4rem);
  height: calc(100svh - 4rem);
}