@tailwind base;
@tailwind components;
@tailwind utilities;

.h-100svh {
  height: 100vh; /* fallback */
  height: 100svh;
}

.h-hero-minus-header {
  height: calc(100vh - 4rem);
  height: calc(100svh - 4rem);
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.blinking-cursor {
  animation: blink 1s step-start 0s infinite;
}
